<%- include("partials/header.ejs") %>

    <div class="container text-center">
        <div class="header">
            <h1>Welcome to Life is a joke!</h1>
            <h5 class="h5">What is life without some good laughs?</h5>
        </div>
        <div>
            <h5> 😁 Select the criteria for your joke(s) and click on the button below to see what we got for you! 😆 </h5>
        </div>
    <%# Checkboxes for the user to select the category of the jokes: %>
        <p>Select a category for your joke: (You can select "Any" or your can select multiple categories you'd like to get your jokes from!)</p>
        <form id="myForm" method="post">
            
            <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Any" value="Any">
                <label class="form-check-label" for="inlineCheckbox1">Any</label>
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Programming" value="Programming">
                <label class="form-check-label" for="inlineCheckbox2">Programming</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Misc" value="Miscellaneous">
                <label class="form-check-label" for="inlineCheckbox1">Misc</label>
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Dark" value="Dark">
                <label class="form-check-label" for="inlineCheckbox2">Dark</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Pun" value="Pun">
                <label class="form-check-label" for="inlineCheckbox1">Pun</label>
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Spooky" value="Spooky">
                <label class="form-check-label" for="inlineCheckbox2">Spooky</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input category" type="checkbox" name="category" id="Christmas" value="Christmas">
                <label class="form-check-label" for="inlineCheckbox2">Christmas</label>
            </div>
            <%# Checkboxes for the user to select the languaje of the jokes: %>
            <p>Select the languaje of your joke:</p>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="language" id="cs" value="cs">
                <label class="form-check-label" for="inlineCheckbox1">Czech</label>
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="language" id="de" value="de">
                <label class="form-check-label" for="inlineCheckbox2">Deutch</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="language" id="en" value="">
                <label class="form-check-label" for="inlineCheckbox1">English</label>
            </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="language" id="es" value="es">
                <label class="form-check-label" for="inlineCheckbox2">Spanish</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="language" id="fr" value="fr">
                <label class="form-check-label" for="inlineCheckbox1">French</label>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">How many jokes you'd like to get? (Max 10 jokes per request)</div>
                <div class="col-4"><input class="form-control" type="number" placeholder="Number of jokes" name="qty"></div>
            </div>
                <div class="container text-center">
                <input class="btn btn-success" id="get" type="submit" value="Get my jokes" formaction="/get-joke">
            </div>
        </form>
    </div>
    <div class="container text-center">
        <% if (locals.singularJoke) { %>
            <div class="card"> 
                <div class="card-header"><h3>Have a good laugh with your joke:</h3></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= singularJoke %></li>
                </ul>
            </div>
        <% } else if (locals.setup) { %> 
            <div class="card"> 
                <div class="card-header">
                    <h3>Have a good laugh with your joke:</h3>
                </div>
                <div>
                    <%= setup %> 
                </div>
                <div>
                    <%= delivery %>
                </div>
            </div>
        <% } else if (locals.pluralJokes) { %> 
            <div class="card"> 
                <h3>Have a good laugh with your jokes:</h3>
                <% for(i=0; i<pluralJokes.length; i++){ %>
                    <% if (pluralJokes[i].type === 'twopart') { %>
                        <div class="container">
                        <%=i+1%><%=pluralJokes[i].setup %>
                        </div>
                        <div>
                        <%= pluralJokes[i].delivery %>
                        </div>
                    <% } else if (pluralJokes[i].type === 'single') { %>
                        <div>
                        <%=i+1%><%= pluralJokes[i].joke %>
                        </div>
                    <% } %>
                <%} %> 
            </div>
        <% } else if(locals.error){%>
            <% if( error === true){ %>
            <h4>Sorry, we couldn't find jokes that match your criteria, please try again.</h4>
            <% } %>
        <% } %>
    </div>

<%- include("partials/footer.ejs") %>